---
import PageLayout from "../layouts/PageLayout.astro";
import Container from "../components/Container.astro";
---

<PageLayout title="Gallery">
    <section>
        <Container>
            <div class="grid gap-y-12">
                
            </div>
        </Container>
    </section>
</PageLayout>