---
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";

interface Props {
	title?: string;
};

const { title } = Astro.props;
---

<BaseLayout>
    <div class="mt-28 mb-12">
        <Container>
            <h1 class="font-light uppercase text-6xl mb-22">{ title }</h1>
        </Container>

        <div>
            <slot />
        </div>
    </div>
</BaseLayout>